<div class="map-page-container">
  <h2>Map of bus problems</h2>
  <%= javascript_tag "var gripes_data = #{@gripes.to_json};" %>
  
  <div class="map-select-container">
    <form action="/maps" method="POST" name="gripe_map_select" >
      <%= select_tag(:gripe_map_select, options_for_select([['All gripes', 1], ['Bicycle accident'],['Wheelchair problem'],['Child buggy problem'],['Jumped Red Lights'],['Didn\'t stop at pedestrian crossing'],['Motorbike accident'],['Pedestrian accident'],['Bus didn\'t stop']],0), :class => "gripe_map_select") %>
      <button>Show Map</button>
    </form>
    <div id="map-canvas">
      <div id="map"></div>
    </div>   
  </div>
</div>


