<div class="about-container">
  <h3>About</h3>
  <p>> BusGripes allows you to track and map bad bus driving.See where there are problems on the bus network and have a place to make your voice heard.</p>
  <p>> Most travel organisations, like TFL, can  measure if a bus runs on time, how much fuel it uses and other similar metrics, but they can't measure the "quality" of bus driving. BusGripes does this with the collective help of you, the public transport users. </p>
  <p>> You can report an incident giving up to 4 different problems, your location, time of incident and upload a comment and picture. </p>
  <p>> Together we can use "big data" to make our public transport system run better.</p>
  <p>> Please get in touch and let us know how we can improve this service, to tell us new problems to track, or if you have any bright ideas!</p>
</div>
