<div class="about-container">
  <h3>About</h3>
  <p>BusGripes is an app that allows you to report and find out about bad bus driving.</p>
  <p>You can report an incident giving location, up to 4 different problems, take or upload a picture and add a comment. Also available are heatmaps showing where problems occur the most and in the near future you will be able to filter this over time as well.</p>
  <p>While most bus drivers are good a few are at best annoying and at worst down-right dangerous! BusGripes will allow you to record an incident you've and will be made available to bus companies and commissioning bodies like Transport For London and local councils.</p>
  <p>Please feel free to get in touch and let us know how we can improve this service or if you have any bright ideas!</p>
</div>
