<div class="about-container">
  <h3>About</h3>
  <hr>
  <p>BusGripes allows you to track and map bad bus driving.See where there are problems on the bus network and have a place to make your voice heard.</p>
  <hr>
  <p><span class="bold-start">The Problem:</span> Most travel organisations, like TFL, can  measure if a bus runs on time, how much fuel it uses and other similar metrics, but they don't measure the "quality" of bus driving. As bus users we all have a story or two to tell on this front</p>
  <p><span class="bold-start">The Solution:</span> BusGripes reveals the problems  with the collective help of you, the public transport users. You can report an incident giving up to 4 different issues, your location, time of incident and upload a comment and picture. </p>
  <p><span class="bold-start">Next Steps:</span> Together we can use "big data" to make our public transport system run better. We use this data to convince the bus companies and travel orgniastions to make improvements.</p>
  <p><span class="bold-start">Get Inolved:</span> Please get in touch and let us know how we can improve this service, to tell us new problems to track, or if you have any bright ideas!</p>
  <a href="#" class="donate-button">donate</a>
  <p> To keep this service running and the servers humming please make a contribution of £3 (cheaper than a London Beer!).</p>
  <br>
  <br>
</div>
