// Place all the styles related to the Gripes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.geolocation-button{
  background-color: blue;
  padding: 5px;
}