 /*recommended from googlemaps*/
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }

  #map-canvas-container{
    width: 500px;
    height: 500px;
  }

  /*#map-canvas { height: 100% }*/

  #map{
    height: 400px;
    width: 400px;
  }