$background-blue: #3E4F55;
$fontcolor-offwhite: rgb(230,230,230);
$neutralbutton: #957120;
$neutralbutton-hover: #A78844;
$neutralbutton-click: #75550D;

@media screen and (min-width: 320px){

  body{
    background-color: $background-blue;
    font-family: helvetica;
  }

  header{
    height: 35px;
    background-color: #333;
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
  }

  h1{
    display: inline-block;
    font-size: 22px;
    color: white;
    margin:7px 7px;
  }

  .tagline{
    display: inline-block;
    font-size: 16px;
  }


  h2{
    margin: 0;
  }

  /* sticky footer */
  .gripe-map-btns-wrapper{
    height: 35px;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    width: 100%;
  }

  .gripe-map-btns-wrapper ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .gripe-map-btns-wrapper li{
    width: 50%;
    float: left;
  }
  .footer-gripe, .footer-map {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #333;
  }

  .footer-gripe:active, .footer-map:active {
    background-color: #222;
  }

  .footer-gripe{
    border-right: solid 1px #666;
  }

  .footer-map{
    border-left: solid 1px #222;
  }



  /* hamburger menu */
  nav li{
    list-style-type: none;
    text-decoration: none;
  }

  nav li a{
    text-decoration: none;
  }

  nav{
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    ul {
      display: none;
      margin: 35px 0 0;
      padding: 20px;
      background: white;
      li{
        padding: 2px;
      }
    }
    button{
      position: absolute;
      top:2px;
      right: 5px;
      border: 0;
      text-indent: 200%;
      overflow: hidden;
      background: url('menu-b.png') center no-repeat;
     /* border: 1px solid #ddd;
      border-radius: 3px;*/
      background-size: 80%;
      width: 30px;
      height: 30px;
      outline: none;
      transition: all 400ms ease;
      }  
  }

  nav .expanded{
    transform: rotate(90deg);
    background-color: transparent;
    border: 0;
    li{
      display: block;
    }
  }

  /* homepage*/
  .homepage-container{
    width: 320px;
    height: 100%;
    background-image: url('bus2.jpg');
  }
  .login-signup{
    width: 200px;
    margin: 0 auto;
  }

  .login-signup a{
    text-decoration: none;
    background-color: rgba(50, 200, 50, 0.6);
    padding: 9px;
    border-radius: 3px;
    color: rgb(230,230,230);
  }

  .homepage-about{
    
    width: 100px;
    margin: 40px auto 0px;
  }

  .homepage-about a{
text-decoration: none;
color: rgb(230,230,230);
  }

  .tagline{
    color: rgb(230,230,230);
  }

  /* new gripe*/
  
  .new-gripe-wrapper{
    margin-top: 45px; 
  }

  .new-gripe form{
    padding-left: 20px;
    input{
      border-radius: 3px;
      border: 1px solid #555;
      height: 30px;
      width: 150px;
      color: #777;
    }
    select{
      border-radius: 3px;
      border: 1px solid #555;
      height: 30px;
      color: #777;
      margin: 0px 0px 10px 0px;
    }
    textarea{
      width: 250px;
      height: 140px;
      border-radius: 3px;
      border: 1px solid #555;
    }
    h3, label, p{
      color: $fontcolor-offwhite;
      font-weight: normal;
    }
    
    .upload-wrapper{
      position: relative;
      overflow: hidden;
      margin: 10px;  
    }

    .upload-wrapper input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }

    .upload-button{
      color: $fontcolor-offwhite;
      padding: 7px;
      border-radius: 5px;
      background-color: $neutralbutton;
      display: inline-block;
    }

    .upload-button:hover{
      background-color: $neutralbutton-hover;
    }

    .upload-button:active{
      background-color:$neutralbutton-click;
    }

    .geolocation-button{
      color: $fontcolor-offwhite;
      padding: 7px;
      border-radius: 3px;
      background-color: $neutralbutton;
      display: block;
      width: 110px;
      margin: 0px 0px 10px 20px;
    }

    .geolocation-button:hover{
      background-color: $neutralbutton-hover;
    }

    .geolocation-button:active{
      background-color:$neutralbutton-click;
    }

    .time-button{
      color: $fontcolor-offwhite;
      padding: 7px;
      border-radius: 3px;
      background-color: $neutralbutton;
      display: block;
      width: 110px;
      margin: 0px 0px 10px 20px;
    }
    .submit-gripe-btn{
      font-size: 20px;
      padding: 10px;
      height: 40px;
      border-radius: 5px;
      background-color: rgb(82, 126, 61);
      color: white;
      margin: 20px 20px;
    }
  }

  /*map page*/
.map-page-container{
  margin-top: 30px;
  h2{
    text-align: center;
    color: $fontcolor-offwhite;
    }
  }

  #map-canvas{
    width: 320px;
    height: 300px;
    margin: 0;
  }

  #map{
    height: 500px;
    width: 320px;
    margin-left: 10px;
  }

   .gripe_map_select{
    width: 150px;
    height: 26px;
  }

}
