 /*recommended from googlemaps*/
  html { height: 100% }
  body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
    font-family: 'Quicksand', sans-serif;
/*    font-family: 'Open Sans', sans-serif; */
    color: rgb(72, 74, 87);
    background-color: rgb(67, 72, 68);
  }

  a{
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
  }

  header{
  clear: both;
  }

  header img{
    height: 50px;
    width: 60px;
    float: left;
    margin: 0% 3% 1% 0%;
  }

  h1{
    font-family: 'Questrial', sans-serif;
    /*font-family: 'Varela', sans-serif;*/
    font-size: 30px;
    /*color: rgb(75, 37, 93);*/
    /*color: #0E3A42;*/
    color: rgb(2,21,27);
    float: left;
    margin: 0% 1% 0% 0%;
    letter-spacing: 1px;
    line-height: 2em;
  }

  .user-nav{
    float: right;
    font-size: 13px;
    margin-top: 10px;
  }

  .tagline{
    clear: both;
    color: rgb(2,21,27);
    font-size: 16px;
    margin-top: 0px;
  }

  nav{
    clear: both;
    margin: 20px 0px 15px 0px;
    ul{
      margin: 0px;
      padding: 0px;
      li{
        list-style-type: none;
        display: inline-block;
        a{
          text-decoration: none;
          background-color: #48464A;
          /*background-color: rgb(97,95,94);*/
          color: white;
          padding:8px;
          border-radius: 5px;
        }
        a:hover{
          background-color: rgb(97,95,94);
        }
      }
    }
    
  }

  .homepage-container{
    height: 500px;
    width: 500px;
    background-image: url('bus2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .login-signup{
    margin: 0px auto;
    position: relative;
    top: 150px;
    left: 165px;

  }

  .login-signup-button{
    text-decoration: none;
    padding: 15px;
    background-color: rgba(88, 160, 80, 0.7);
    color: white;
    border-radius: 5px;
    margin: 0 10px;
  }

  .login-signup-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(88, 160, 80);
  }

  #map-canvas-container{
    width: 500px;
    height: 600px;
    margin: 0 auto;
  }

  /*#map-canvas { height: 100% }*/

  #map{
    height: 600px;
    width: 500px;
    margin: 0 auto;
  }

  hr{
    /*border: solid 1px */
    height: 0px;
    color: #48464A;
    /*background-image: -webkit-linear-gradient(left, rgba(100,100,100,0), rgba(100,100,100,0.75), rgba(100,100,100,0)); 
*/
  }

  .container{
    background-color: rgb(134, 198, 197);
    width: 500px;
    padding: 30px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 30px #222;
  }

  form{
    width: 500px;
    clear: both;
  }

  form input{
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    width: 80px;
    border-radius: 5px;
    border: solid #ccc 1px;
    color: grey;
    font-size: 18px;
  }

  .field select {
    height: 30px;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    border-radius: 5px;
    border: solid #ccc 1px;
    color: grey;
    font-size: 18px;
    text-align: center;
    margin: 3px auto 20px;
  }

  textarea{
    height: 150px;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
    border: solid #ccc 1px;
    color: grey;
    font-size: 14px;
  }

  #gripe_address{
    width: 400px;
  }

/*++++ drop down select hack ++++ */
  .select_file_wrapper{
    opacity: 0;
    cursor: pointer;
    position: absolute;
    /*top: 0;*/
    z-index: 2;
  }

  /*#gripe_picture*/
  .select_file_field button{
    width: 150px;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    border-radius: 5px;
    border: solid #ccc 1px;
    color: grey;
    font-size: 18px;
    text-align: center;
    position: relative;
    /*top: 0;*/
    z-index: 1;
  }

  .create_gripe{
    background-color: green;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
/*    width: 80px;
    height: 40px;*/
    font-size: 14px;
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }

  /* new user */

  #new_user input{
    width: 400px;
  }

  #new_user button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: green;
  }

  .select_file_wrapper, .take_pic_wrapper {
    display: inline-block;
  }

  .take_pic_wrapper{
    margin-left: 40px;
    a{
      margin-left: 40px;
      background-color: rgb(27, 101, 27);
      transition: 0.3s ease-in;
      font-size: 14px;
      padding: 10px;
      border-radius: 5px;
      color: white;
      text-decoration: none;
    }
    a:hover{
      background-color: green;
    }
  }

/*    #take-photo{
    background-color: green;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
  }*/